<head>
  <title>{{ .Title }}</title>

  {{ "<!-- Meta -->" | safeHTML }}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="author" content="bslthemes" />

  {{ "<!-- Google Fonts -->" | safeHTML }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" />

  {{ "<!-- Main Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | css.Sass | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />

  {{ "<!-- Plugins Stylesheets -->" | safeHTML }}
  <!--<link rel="stylesheet" href="{{ "plugins/ionicons/ionicons.css" | absURL }}" />-->
  <link rel="stylesheet" href="{{ "plugins/font-awesome/css/font-awesome.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/magnific-popup/magnific-popup.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/owl-carousel/owl.carousel.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/animate/animate.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/syntax/syntax.css" | absURL }}" />

  {{ with .Site.Params.rtl }}
  {{ "<!-- Template RTL -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/template-rtl/rtl.css" | absURL }}" />
  {{ end }}

  {{ with .Site.Params.skinColor }}
  {{ "<!-- Template Colors -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/template-colors/" | absURL }}{{ . }}.css" />
  {{ end }}

  {{ with .Site.Params.skinDark }}
  {{ "<!-- Template Dark -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/template-dark/dark.css" | absURL }}" />
  {{ end }}

  {{ with .Site.Params.skinMinimal }}
  {{ "<!-- Template RTL -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/template-minimal/minimal-skin.css" | absURL }}" />
  {{ end }}

  {{ "<!-- Custom Stylesheets -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "custom.css" | absURL }}" />

  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {{ "<!-- Favicon -->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon/favicon.png" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon/favicon.png" | absURL }}" type="image/x-icon" />

  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  {{ end }}

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ "<!-- Fork On Github -->" | safeHTML }}
  {{ "<!-- https://codepo8.github.io/css-fork-on-github-ribbon/ -->" | safeHTML }}
  <style>
    #forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}
    #forkongithub a:hover{background:#c11;color:#fff;}
    #forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}
    #forkongithub a::after{bottom:1px;top:auto;}
    @media screen and (min-width:500px) {
      #forkongithub{position:fixed;display:block;top:0;right:0;width:273px;overflow:hidden;height:200px;z-index:9999;}
      #forkongithub a{width:273px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}
    }
  </style>

  {{ "<!-- Canonical + Open Graph base -->" | safeHTML }}
  <link rel="canonical" href="{{ .Permalink }}" />

  <meta property="og:title"              content="{{ .Title }}" />
  <meta property="og:url"                content="{{ .Permalink }}" />
  <meta property="og:site_name"          content="{{ .Site.Title }}" />
  <meta property="og:locale"             content="{{ replace (.Site.Language.Lang | default "it-IT") "-" "_" }}" />
  <meta property="og:type"               content="{{ if .IsHome }}website{{ else if or (eq .Type "blog") (eq .Type "podcast") }}article{{ else }}website{{ end }}" />

  {{ if .Params.authors }}
    <meta name="author"                  content="{{ range .Params.authors }} {{ . }} {{ end }}">
  {{ else }}
    <meta name="author"                  content="Valerio Galano">
  {{ end }}

  {{ $desc := "" }}
  {{ if .Description }}
    {{ $desc = .Description }}
  {{ else if .Summary }}
    {{ $desc = .Summary }}
  {{ else if .Site.Params.description }}
    {{ $desc = .Site.Params.description }}
  {{ end }}
  {{ with $desc }}
    <meta name="description"             content="{{ . }}">
    <meta property="og:description"      content="{{ . }}">
    <meta name="twitter:description"     content="{{ . }}">
  {{ end }}

  {{/* Immagine OG con varianti – preferisci quadrata 1200x1200 */}}
  {{- $img := "" -}}
  {{- if .Params.image_og -}}
    {{- /* Le OG images vengono generate e servite dal sito (cartella static) */ -}}
    {{- $img = ( .Params.image_og | absURL ) -}}
  {{- else if .Params.image -}}
    {{- $img = printf "%s%s" .Site.Params.podcast.cdn_base_url .Params.image -}}
  {{- else -}}
    {{- $img = ( .Site.Params.podcast.image | absURL ) -}}
  {{- end -}}
  <meta property="og:image"              content="{{ $img }}" />
  <meta property="og:image:secure_url"   content="{{ replace $img "http://" "https://" }}" />
  <meta property="og:image:type"         content="image/png" />
  {{ $w := (or .Params.og_image_width 1200) }}
  {{ $h := (or .Params.og_image_height 1200) }}
  <meta property="og:image:width"        content="{{ $w }}" />
  <meta property="og:image:height"       content="{{ $h }}" />
  <meta property="og:image:alt"          content="{{ .Title }}" />

  {{ "<!-- Twitter cards (non usate da Telegram ma utili altrove) -->" | safeHTML }}
  <meta name="twitter:card"              content="summary_large_image" />
  <meta name="twitter:site"              content="@valeriogalano" />
  <meta name="twitter:creator"           content="@valeriogalano" />
  <meta name="twitter:title"             content="{{ .Title }}" />
  <meta name="twitter:image"             content="{{ $img }}" />
</head>
