{{ with .Site.Data.home.motto }}

{{ "<!-- Motto -->" | safeHTML }}
<div class="content about">


	<div class="row">
		<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
			<div class="text-box">
				<a href="https://tree-nation.com/it/profilo/impatto/valerio-galano#co2" target="_blank" style="position:relative;cursor:pointer;display:block;z-index:999;">
					<img src="https://tree-nation.com/images/tracking/label-co2-website-white-en.png" style="width:157px;height:auto;">
				</a>
				<script src="https://tree-nation.com/js/track.js"></script>
				<script>treenation_track("64a82372e3788");</script>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>

{{ end }}
