{{ with .Site.Data.home.supporters }}

{{ "<!-- Motto -->" | safeHTML }}
<div class="content clients">

	{{ if .title }}
	<div class="title">{{ .title }}</div>
	{{ end }}
	<div class="row">
		<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
			<div class="text-box">
				<div class="motto">{{ .text | safeHTML }}</div>
			</div>
		</div>
	</div>

	<div class="row client-items">

		<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
			<div class="skills-list list">
				<ul>
					{{ range .supporters }}
					<li>
						<strong>{{ .name }}</strong><br />
						{{ if .description }}{{ .description | safeHTML }}{{ end }}
					</li>
					{{ end }}
				</ul>
			</div>
		</div>

		<div class="clear"></div>
	</div>

</div>

{{ end }}
