{{ "<!-- View All -->" | safeHTML }}
<div class="content about">


    <div class="row">
        <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
            <div class="text-box">
                <a href="/episodes" class="button">
                    <span class="text">Vedi tutti gli episodi</span>
                    <span class="arrow"></span>
                </a>
            </div>
        </div>
        <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
            <div class="text-box">
                <a href="/blog" class="button">
                    <span class="text">Vedi tutti gli articoli</span>
                    <span class="arrow"></span>
                </a>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>
