{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat }}

{{ "<!-- Blog Post -->" | safeHTML }}
<div class="card-inner blog blog-post animated" id="blog-card">
	<div class="card-wrap">

		<div class="content blog-single">

			<div class="title">Episodio del podcast</div>

			<div class="row border-line-v">
				<div class="col col-m-12 col-t-12 col-d-12">
					<div class="post-box">

						<h1>{{ .Title }}</h1>
						<div class="blog-detail">
							<span class="date">{{ .PublishDate | time.Format $dateFormat }}</span>
							{{ if .Params.categories }}
							<span class="cat-links">
		            			{{ range (.GetTerms "categories") }}
								<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
		            			{{ end }}
							</span>
							{{ end }}
							{{ if .Params.number }}
							<span class="number">Episodio {{ .Params.number }}</span>
							{{ end }}
							{{ if .Params.season }}
							<span class="number">Stagione {{ .Params.season }}</span>
							{{ end }}
							<span class="byline">
								<span class="author">{{ range .Params.authors }} {{ . }} {{ end }}</span>
							</span>

						</div>

						<div class="blog-image">
						{{ if .Params.image }}
							<img src="{{ .Site.Params.podcast.cdn_base_url }}{{ .Params.image }}" alt="{{ .Title }}" />
						{{ else }}
							<img src="{{ .Site.Params.podcast.image | absURL }}" alt="{{ .Title }}" />
						{{ end }}
						</div>

						<div class="blog-content">
							{{ if .Params.audio }}
							<h3>Ascolta l'episodio</h3>
							<audio controls>
								<source src="{{ .Site.Params.podcast.cdn_tracked_base_url }}{{ .Params.audio }}" type="audio/mpeg">
								{{ i18n "audioNotSupported" }}
							</audio>
							{{ end }}
							{{ .Content }}
							{{ $noop := .Content }} {{/* You must do this before calling the partial */}}
							{{ partial "transcript.html" . }}
						</div>

						<div class="post-text-bottom">
							{{ if .Params.tags }}
							<div class="tags-links">
								{{ i18n "tags" }}:
								{{ range (.GetTerms "tags") }}
								<a href="{{ .Permalink }}" rel="tag">{{ .LinkTitle }}</a>
								{{ end }}
							</div>
							{{ end }}
						</div>

						{{ if or .NextInSection .PrevInSection }}
						<div class="post-navigation" role="navigation">
							{{ if .PrevInSection }}
							<div class="nav-previous">
								<a href="{{ .PrevInSection.Permalink }}" rel="prev" title="{{ .PrevInSection.Title }}">
									<span class="post-nav-next post-nav-text">{{ i18n "prev" }}</span>
								</a>
							</div>
							{{ end }}
							{{ if .NextInSection }}
							<div class="nav-next">
								<a href="{{ .NextInSection.Permalink }}" rel="next" title="{{ .NextInSection.Title }}">
									<span class="post-nav-prev post-nav-text">{{ i18n "next" }}</span>
								</a>
							</div>
							{{ end }}
						</div>
						{{ end }}
					</div>
				</div>
			</div>

			{{ if .Site.Params.disqusComments }}
			<div class="title">{{ i18n "comments" }}</div>

			<div class="row border-line-v">
				<div class="col col-m-12 col-t-12 col-d-12">
					<div class="post-box">
						<div class="col-md-12">
							<div id="disqus_thread"></div>
							<script>
								var disqus_config = function () {
									this.page.url = "{{ .Permalink | absURL }}";  /* Replace PAGE_URL with your page's canonical URL variable */
									this.page.identifier = "{{ .File.UniqueID }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
								};
								(function() { /* DON'T EDIT BELOW THIS LINE */
									var d = document, s = d.createElement('script');
									s.src = 'https://{{ .Site.Params.disqusComments }}.disqus.com/embed.js';
									s.setAttribute('data-timestamp', +new Date());
									(d.head || d.body).appendChild(s);
								})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						</div>
					</div>
				</div>
			</div>
			{{ end }}
		</div>

	</div>
</div>

{{ end }}
