{{ $dateFormat := .Site.Params.dateFormat }}

{{ "<!-- Blog -->" | safeHTML }}
<div class="content blog">

	{{ with .Site.Data.home.blog }}

	{{ if .title }}
	<div class="title">{{ .title }}</div>
	{{ end }}

	{{ end }}

	{{ $paginator := .Paginate (where .Site.RegularPages "Section" "blog") }}

	<div class="row border-line-v post-items" data-page="{{ $paginator.PageNumber }}" data-total="{{ $paginator.TotalPages }}">

		{{ range $paginator.Pages }}
		<div class="col col-d-6 col-t-6 col-m-12 post-item">
			<div class="box-item">
				<div class="image">
					<a href="{{ .Permalink }}">
						<img src="{{ .Params.featureImage | absURL }}" alt="{{ .Title }}" />
						<span class="info">
							<span class="ion ion-document-text"></span>
						</span>
					</a>
				</div>
				<div class="desc">
					<a href="{{ .Permalink }}"><span class="date">{{ .PublishDate.Format $dateFormat }}</span></a>
					<a href="{{ .Permalink }}" class="name">{{ .Title }}</a>
					<div class="category">{{ with .Params.categories }}{{ delimit . ", "}}{{ end }}</div>
				</div>
			</div>
		</div>
		{{ end }}

		<div class="clear"></div>
	</div>

</div>
