{{ with .Site.Data.home.motto }}

{{ "<!-- Motto -->" | safeHTML }}
<div class="content about">

	{{ if .title }}
	<div class="title">{{ .title }}</div>
	{{ end }}

	<div class="row">
		<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
			<div class="text-box">
				<div class="motto">{{ .text | safeHTML }}</div>
			</div>
		</div>
		<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
			<div class="info-list">
				<ul>
					{{ range .list }}
					<li><strong>{{ .label }}</strong> &nbsp;</li>
					{{ end }}
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>

</div>

{{ end }}
