{{ with .Site.Data.home.skills }}

{{ "<!-- Skills -->" | safeHTML }}
<div class="content skills">

	{{ if .title }}
	<div class="title">{{ .title }}</div>
	{{ end }}

	<div class="row">
		{{ range .columns }}
		<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
			<div class="skills-list{{ if .type }} {{ .type }}{{ end }}">
				<div class="skill-title border-line-h">
					<div class="icon"><i class="ion {{ .icon }}"></i></div>
					<div class="name">{{ .title }}</div>
				</div>
				<ul>
					{{ if eq .type "default" }}
					{{ range .items }}
					<li class="border-line-h">
						<div class="name">{{ .label }}</div>
						<div class="progress">
							<div class="percentage" style="width:{{ .value  }}%;"></div>
						</div>
					</li>
					{{ end }}
					{{ end }}

					{{ if eq .type "dotted" }}
					{{ range .items }}
					<li class="border-line-h">
						<div class="name">{{ .label }}</div>
						<div class="progress">
							<div class="percentage" style="width:{{ .value  }}%;"></div>
						</div>
					</li>
					{{ end }}
					{{ end }}

					{{ if eq .type "circles" }}
					{{ range .items }}
					<li>
						<div class="name">{{ .label }}</div>
						<div class="progress p{{ .value }}">
							<span>{{ .value }}%</span>
						</div>
					</li>
					{{ end }}
					{{ end }}

					{{ if eq .type "list" }}
					{{ range .items }}
					<li>
						<div class="name">{{ .label }}</div>
					</li>
					{{ end }}
					{{ end }}
				</ul>
			</div>
		</div>
		{{ end }}

		<div class="clear"></div>
	</div>

</div>

{{ end }}
