<h2>Sostieni il progetto</h2>

<a href="https://www.satispay.com/download/qrcode/S6Y-CON--EC548199-5F32-4BD6-AAF5-73A999744E56" target="_blank" rel="noreferrer noopener">Sostieni tramite Satispay</a><br/>
<a href="https://revolut.me/valeriogalano" target="_blank" rel="noreferrer noopener">Sostieni tramite Revolut</a><br/>
<a href="https://www.paypal.com/donate/?hosted_button_id=HRKMD7X43R7SS" target="_blank" rel="noreferrer noopener">Sostieni tramite PayPal (applica commissioni)</a><br/>

Sostieni utilizzando i link affiliati di Pensieri in codice:
<a href="https://amzn.to/3CPOWgC" target="_blank" rel="noreferrer noopener">Amazon</a>,
<a href="https://doist.grsm.io/valeriogalano5066" target="_blank" rel="noreferrer noopener">Todoist</a>,
<a href="https://readwise.io/i/valerio61" target="_blank" rel="noreferrer noopener">Readwise Reader</a>,
<a href="https://web.satispay.com/promocode/VALERIOGALAN" target="_blank" rel="noreferrer noopener">Satispay</a>

{{ if .Page.Params.supporters }}
<br/>
Sostenitori di oggi:
{{/* print supporters list coma separated */}}
{{ $len := len .Page.Params.supporters }}
{{ range $i, $e := .Page.Params.supporters }}{{ if $i }}, {{ end }}<i>{{ $e }}</i>{{ end }}
{{ else }}
{{ end }}

{{ if .Page.Params.supporters }}

{{ end }}