{{/*
  Determina l'immagine social in base al tipo di pagina:
  - Episodio podcast: locandina del singolo episodio (da CDN)
  - Articolo blog: featureImage
  - Homepage / tutto il resto: locandina principale del podcast
*/}}
{{- $image := .Site.Params.podcast.image | absURL -}}
{{- $imageAlt := .Site.Title -}}
{{- $description := .Site.Params.description -}}
{{- $type := "website" -}}
{{- $isArticle := false -}}

{{- if .IsPage -}}
  {{- if .Description }}{{- $description = .Description -}}{{- else }}{{- $description = .Summary | plainify | truncate 200 -}}{{- end -}}

  {{- if eq .Type "podcast" -}}
    {{- if .Params.image -}}
      {{- $image = printf "%s%s" .Site.Params.podcast.cdn_base_url .Params.image -}}
    {{- end -}}
    {{- $imageAlt = .Title -}}
    {{- $type = "article" -}}
    {{- $isArticle = true -}}

  {{- else if eq .Type "blog" -}}
    {{- with .Params.featureImage -}}
      {{- $image = . | absURL -}}
    {{- end -}}
    {{- $imageAlt = .Title -}}
    {{- $type = "article" -}}
    {{- $isArticle = true -}}
  {{- end -}}
{{- end -}}

{{/* Open Graph */}}
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ $type }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $image }}">
<meta property="og:image:alt" content="{{ $imageAlt }}">
<meta property="og:locale" content="{{ .Site.LanguageCode | replaceRE "-" "_" }}">

{{- if $isArticle }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ with .Params.lastmod }}<meta property="article:modified_time" content="{{ . }}">{{ end }}
{{ range .Site.Params.podcast.authors }}<meta property="article:author" content="{{ . }}">{{ end }}
{{- end }}

{{/* Twitter / X Card */}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ $image }}">
<meta name="twitter:image:alt" content="{{ $imageAlt }}">